section{
    width: 90vw;
    height: 90vh;
    border: 2px coral solid;
    background-color: aliceblue;
    margin: 20px auto;
}

div{
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 2px solid green;
    background-color: coral;
    transition: 2s;
}
section:hover div{
    /* margin-left: 75vw; */
    width: 80vw;
}
div:nth-of-type(1){
    transition-timing-function: ease-in;
}
div:nth-of-type(2){
    transition-timing-function: ease-out;
}
div:nth-of-type(3){
    transition-timing-function: ease-in-out;
}
div:nth-of-type(4){
    transition-timing-function: linear;
}