<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="POST">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name">
        <br><br>
        <label for="price">Price: </label>
        <input type="text" name="price" id="price">
        <br><br>
        <label for="image">Image: </label>
        <input type="text" name="image" id="image">
        <br><br>
        <label for="desc">Description: </label>
        <input type="text" name="description" id="desc">
        <br><br>
        <button>Add Product</button>
    </form>
    
</body>
</html>