/* p{
    white-space: nowrap;
    overflow: hidden;
    overflow: scroll;
    text-overflow: ellipsis;
} */

p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
p:hover{
    overflow: scroll;
    text-overflow: clip;
}