*{
    margin: 0;
    padding: 0;
}

.navBar{
    position: fixed;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 1px;
    border-bottom: 2px solid coral;
}

#echo{
    font-size: 100%;
    color: coral;
}


.search{  
    padding-left: 5px;
    padding-right: 5px;
    border-color: coral;
    width: 500px;
    height: 80%;
}
.search:focus{
    outline:none;
    border-color: cyan;
 }
